@page
@model Examen2_Solorzano_David.Pages.FormularioPedidoModel
@{
    ViewData["Title"] = "FormularioPedido";
}

<head>
    <link rel="stylesheet" href="~/css/form.css" />
    
</head>
<h2>Formulario Pedido</h2>

<div class="container">
    <form method="post">
        <h1>Arme su pizza</h1>
        <br>

        <p>Arme su pizza con sus opciones e ingredientes preferibles</p>
        <hr>
        <div>
            <h4>Estructura<span class="required">*</span></h4>
            <br>
            <p>Escoja la Masa y el Tamaño</p>
            <br>
            <div class="row">
                <div class="col-sm-6"><h4>Masa</h4></div>
                <div class="col-sm-6"><h4>Tamaño</h4></div>
            </div>

            <br>
            <div class="row">
                <div class="col-sm-6">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="masa" id="masa1" value="original" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Original - 1000 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="masa" id="masa2" value="crunchy">
                        <label class="form-check-label" for="gridRadios2">
                            Crunchy - 1500 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="masa" id="masa3" value="sarten">
                        <label class="form-check-label" for="gridRadios3">
                            Sarten - 2000 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="masa" id="masa3" value="queso">
                        <label class="form-check-label" for="gridRadios3">
                            Orilla de Queso - 2000 colones
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tamano" id="tamano1" value="pequena">
                        <label class="form-check-label" for="gridRadio3">
                            Pequeña - 4000 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tamano" id="tamano2" value="mediana" checked>
                        <label class="form-check-label" for="gridRadio1">
                            Mediana - 4500 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tamano" id="tamano3" value="grande">
                        <label class="form-check-label" for="gridRadio2">
                            Grande - 5000 colones
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="tamano" id="tamano4" value="extra">
                        <label class="form-check-label" for="gridRadio3">
                            Extra Grande - 6000 colones
                        </label>
                    </div>
                    <br>
                </div>

            </div>
            <hr>
            <div>
                <h4>Salsa y Queso<span class="required">*</span></h4>
                <br>
                <p>Escoja la Salsa y el Queso</p>
                <br>
                <div class="row">
                    <div class="col-sm-6"><h4>Salsa</h4></div>
                    <div class="col-sm-6"><h4>Queso</h4></div>
                </div>

                <br>
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="salsa" id="grid1" value="izquierda" checked>
                            <label class="form-check-label" for="gridRadios1">
                                Mitad Izquierda
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="salsa" id="grid2" value="todo">
                            <label class="form-check-label" for="gridRadios2">
                                Todo
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="salsa" id="grid3" value="derecha">
                            <label class="form-check-label" for="gridRadios3">
                                Mitad derecha
                            </label>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="queso" id="queso3" value="izquierda">
                            <label class="form-check-label" for="gridRadio3">
                                Parte Izquierda
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="queso" id="queso1" value="todo" checked>
                            <label class="form-check-label" for="gridRadio1">
                                Todo
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="queso" id="queso2" value="derecha">
                            <label class="form-check-label" for="gridRadio2">
                                Parte Derecha
                            </label>
                        </div>
                        <br>

                        <br>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <h4>Ingredientes<span class="required">*</span></h4>
                    <br>
                    <p>Escoja los ingredientes(Cada ingrediente que agregue son 500 colones adicionales)</p>
                    <br>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Jamon"> Jamon
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Peperoni"> Peperoni
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Tocino"> Tocino
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Carne"> Carne
                            </label>
                        </div>
                        <br>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Pina"> Piña
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Pimiento"> Pimiento
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="Cheddar"> Queso Cheddar
                            </label>
                        </div>
                        <br>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" name="check" class="form-check-input" value="hongos"> Champiñones
                            </label>
                        </div>

                    </div>

                </div>
                <br>
                <h4>Agregue la direccion de la entrega</h4>
                <br>
                <input type="text" class="form-control" placeholder="100mts norte" name="direccion" maxlength="200">
                <br>
                <br>
                <br>
                <label for="inputName" style="color:red;">@TempData["Message"] </label>
                <br>
                <button type="submit" class="btn btn-success">Enviar</button>
                <hr>
                <br>




</form>
<br>
<br>
</div>

