@page
@model Examen2_Solorzano_David.Pages.OrdenExitosaModel
@{
    ViewData["Title"] = "OrdenExitosa";
}

<head>
    <link rel="stylesheet" href="~/css/form.css" />

</head>
<br>
<br>
<br>
<form method="post">
    <h2>Pedido Exitoso</h2>
    <p>Su orden fue realizada con exito. Su orden llegara su casa en un aproximado de 45 min. Gracias por Comprar con Nosotros</p>
    <br>
    <br>

    <img src="https://media.istockphoto.com/photos/pizza-and-slice-picture-id172792787" width="500" height="300" style="border-radius:20px 20px 20px 20px" />
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-success" disabled>Pagina Principal</button>
</form>

